[submodule "contrib/deterministic-build/electrum-game-icons"]
	path = contrib/deterministic-build/electrum-game-icons
	url = https://github.com/samadsajanlal/electrum-game-icons
[submodule "contrib/deterministic-build/electrum-game-locale"]
	path = contrib/deterministic-build/electrum-game-locale
	url = https://github.com/samadsajanlal/electrum-game-locale
